asgiref==3.3.1
autopep8==1.5.6
click==7.1.2
colorama==0.3.9
Django==3.1.7
joblib==1.0.1
nltk==3.5
numpy==1.20.1
pandas==1.2.3
pycodestyle==2.7.0
python-dateutil==2.8.1
pytz==2021.1
regex==2021.3.17
scikit-learn==0.20.4
scipy==1.6.2
six==1.15.0
sklearn==0.0
sqlparse==0.4.1
stopwords==1.0.0
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.59.0
wordnet==0.0.1b2
